<html><head>
	<title>关于我们</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"></head><body style="zoom: 1; font-family: 'Microsoft Yahei', 'Helvetica Neue', Helvetica, sans-serif;">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/jquery.bootpag.min.js"></script>



  <div class="container" style="
    padding: 15px;
    font-size: 16px;
">(●—●) 联系我们：njust_liva@163.com</div>
</body></html>