<html><head>
	<title>常见问题</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"></head><body style="zoom: 1;font-family: Consolas, &quot;Liberation Mono&quot;, Menlo, Courier, monospace;">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/jquery.bootpag.min.js"></script>

</head>
<body>
<ul>
  <li style="
    font-size: 16px;
    padding-top: 15px;
"><strong>图片上传后需要多长时间能够显示展示结果？</strong></li>
</ul>
  <pre style="
    background-color: #f7f7f7;
    border-radius: 3px;
    padding: 16px;
    margin: 16px;
"><code style="
    /* display: inline; */
    /* max-width: initial; */
    /* padding: 0; */
    /* margin: 0; */
    /* overflow: initial; */
    /* word-wrap: normal; */
    /* border: 0; */
    font-size: 100%;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    line-height: 1.45;
    font-size: 14px;
    font-family: Consolas, &quot;Liberation Mono&quot;, Menlo, Courier, monospace;
    /* background-color: #f7f7f7; */
    color: #333;
">大约几秒钟的时间就能够展示搜索结果，建议在Wifi环境下使用
</code>
</pre>

<ul>
  <li style="
    font-size: 16px;
"><strong>怎样购买搜索到的衣服？</strong></li>
</ul>
  <pre style="
    background-color: #f7f7f7;
    border-radius: 3px;
    padding: 16px;
    margin: 16px;
"><code style="
    /* display: inline; */
    /* max-width: initial; */
    /* padding: 0; */
    /* margin: 0; */
    /* overflow: initial; */
    /* word-wrap: normal; */
    /* border: 0; */
    font-size: 100%;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    line-height: 1.45;
    font-size: 14px;
    font-family: Consolas, &quot;Liberation Mono&quot;, Menlo, Courier, monospace;
    /* background-color: #f7f7f7; */
    color: #333;
">点击搜索到的衣服后再轻触屏幕会出现一个标题栏，点击标题栏右侧的设置会出现“去购买”菜单，点击即可购买。
</code>
</pre>

<ul>
  <li style="
    font-size: 16px;
"><strong>如何对软件进行反馈？</strong></li>
</ul>
  <pre style="
    background-color: #f7f7f7;
    border-radius: 3px;
    padding: 16px;
    margin: 16px;
"><code style="
    /* display: inline; */
    /* max-width: initial; */
    /* padding: 0; */
    /* margin: 0; */
    /* overflow: initial; */
    /* word-wrap: normal; */
    /* border: 0; */
    font-size: 100%;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    line-height: 1.45;
    font-size: 14px;
    font-family: Consolas, &quot;Liberation Mono&quot;, Menlo, Courier, monospace;
    /* background-color: #f7f7f7; */
    color: #333;
">亲，您摇一摇试试
</code>
</pre>
<ul>
  <li style="
    font-size: 16px;
"><strong>为什么用户系统不能用？</strong></li>
</ul>
  <pre style="
    background-color: #f7f7f7;
    border-radius: 3px;
    padding: 16px;
    margin: 16px;
"><code style="
    /* display: inline; */
    /* max-width: initial; */
    /* padding: 0; */
    /* margin: 0; */
    /* overflow: initial; */
    /* word-wrap: normal; */
    /* border: 0; */
    font-size: 100%;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    line-height: 1.45;
    font-size: 14px;
    font-family: Consolas, &quot;Liberation Mono&quot;, Menlo, Courier, monospace;
    /* background-color: #f7f7f7; */
    color: #333;
">我们软件还在开发中，用户系统敬请期待。
</code>
</pre>
</body></html>