<html><head>
    <title>用户协议</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/jquery.bootpag.min.js"></script>
</head>
<body style="zoom: 1;font-family: 'Microsoft Yahei', 'Helvetica Neue', 'Helvetica', 'sans-serif';">
<div class="container" style="
    padding: 15px;
">
                    <div style="
    text-align: center;padding: 10px;
    background-color: #f7f7f7;
    border-radius: 3px;
            "><strong>Amelie软件用户许可协议</strong></div><div style="
    margin-top: 4px;
    
">
请务必仔细阅读和理解此Amelie软件最终用户许可协议中规定的所有权利和限制。在安装时，您需要仔细阅读并决定接受或不接受本《协议》的条款。除非或直至您接受本《协议》的条款，否则本“软件”不得安装在您的计算机上。
作为参考，您现在就可以从本页起打印出本《协议》的文本，或者参阅本“软件”“帮助”文件中本《协议》的副本。
本《协议》是您与Amelie软件之间有关本“软件”的法律协议。本“软件”包括随附的计算机软件，并可能包括相关文档印刷材料。您一旦安装本“软件”，即表示您同意接受本《协议》各项条款的约束。如您不同意本《协议》中的条款，您则不可以安装或使用本“软件”。<br>
本“软件”受著作权法及国际著作权条约和其它知识产权法和条约的保护。本“软件”权利只许可使用，而不出售。<br>
一．Amelie软件将本“软件”在中华人民共和国（“中国”）大陆地区（除香港特别行政区、澳门特别行政区、台湾地区外的中国境内）的非专有的使用权授予您。 您可以：<br>
1.在一台个人所有计算机上安装、使用、显示、运行（“运行”）本“软件” 的一份副本。本“软件”为个人版软件，仅供个人所有计算机使用，不得用于法人或其他组织（包括但不限于政府机关、公司、企事业单位、其他组织等；无论该组织是否为经济性组织；无论该组织的使用是否构成商业目的使用）所有计算机。如若个人所有计算机长期固定为法人或其他组织服务，则将被视为“法人或其他组织所有计算机”，无法享受本授权。任何超出上述授权范围的使用均被视为非法复制的盗版行为，Amelie软件保留权利要求相关责任人承担相应的法律责任包括但不限于民事责任、行政责任、刑事责任。<br>
2.为了防止副本损坏而制作备份复制品。这些备份复制品不得通过任何方式提供给他人使用，并在您丧失该合法副本的所有权时，负责将备份复制品销毁。<br>
3.为了把本“软件”用于实际的计算机应用环境或者改进其功能、性能而进行必要的修改；但是，除本《协议》另有约定外，未经Amelie软件许可，不得向任何第三方提供修改后的软件。<br>
二．您保证：<br>
1.不在本《协议》规定的条款之外，使用、复制、修改或转让本“软件”或其中的任一部分。<br>
2.只在一台个人所有计算机上使用本“软件”；一份软件许可不得在不同的计算机上共同或同时使用。<br>
3.只在以下前提完全满足的情况下，将本“软件”用于多用户环境或网络系统上：
        本“软件”明文许可用于多用户环境或网络系统上；
        使用本“软件”的每一节点及终端都已购买使用许可。<br>
4.不得对本“软件”进行反向工程、反向编译或反汇编；不得试图进行任何获得本“软件”原代码的访问或行为。<br>
5.不得发行、出租、信息网络传播、翻译本“软件”。<br>
6.在本“软件”的所有副本上包含所有的版权标识。<br>
三．软件转让<br>
您可将您在本《协议》项下的所有权利作永久性一次转让，转让的条件是：<br>
1.转让本“软件”（包括计算机软件，及可能附随的相关文档印刷材料）的所有部分<br>
2.如果本“软件”为升级版本，任何转让必须包括本“软件”的所有前版本；<br>
3.您不得保留任何副本；<br>
4.转让后您的许可权即自行终止；<br>
5.受让人接受本《协议》的各项条款。<br>
四．支持服务<br>
1.如在本“软件”附随用户手册或其它材料中，Amelie软件明示将为您提供支持服务，则Amelie软件将依照该用户手册或其它材料中所述的各项政策和计划为您提供与本“软件”有关的支持服务（“支持服务”）。<br>
2. 提供给您作为支持服务的一部分的任何附加软件代码（如有）应被视为本“软件”的一部分，并须遵照本《协议》中的各项条款。<br>
3. 您明示同意，Amelie软件可将您提供给Amelie软件作为支持服务的一部分的技术信息（如有）用于商业用途，包括产品支持和开发。除了在为您提供支持服务时必须的情况外，Amelie软件在使用这些技术信息时不会以个人形式提及您。<br>
五．软件的替换、修改和升级<br>
1.Amelie软件保留在任何时候通过提前向您公告（包括但不限于客户端弹出页面、本“软件”官方网站、您提供的邮件地址）的方式为您提供本“软件”的替换版本或修改版本或升级版本以替换、修改或使本“软件”升级的权利和为这类替换、修改或升级收取费用的权利。如您不接受本“软件”的替换版本或修改版本或升级版本，请您在获得本“软件”的替换版本或修改版本或升级版本后10个工作日内与Amelie软件客服人员取得联系，以便让您继续使用本“软件”原有版本；如若您未在上述10个工作日内与Amelie软件客服人员进行联系，则视为您完全接受本“软件”的替换版本或修改版本或升级版本。<br>
2.Amelie软件提供给您的本“软件”的任何替换版本或修改软件代码或升级版本，将被视为本“软件”的一部分并且要受到本《协议》条款的制约（除非本《协议》被随附本“软件”的替换或修改版本或升级版本的另外一份《协议》取代）。<br>
3.如果Amelie软件提供本“软件”的一个替换或修改版本或任何升级版本，则（a）您对本“软件”替换或修改版本或任何升级版本的使用条件是您接受本“软件”的这类替换或修改版本或升级版本以及任何随附的取代《协议》(如有)，并且（b）您对本“软件”的所有先前版本的使用将被终止。<br>
六．权利的保留：<br>
未明示授予的一切权利均为Amelie软件所有。<br>
七．本“软件”的著作权<br>
1.您不得去掉本“软件”上的任何版权标识，并应在其所有复制品上依照其现有表述方式标注其版权属于Amelie软件。<br>
2.本“软件”（包括但不限于本“软件”中所含的任何图像、照片、动画、录像、录音、音乐、文字和附加程序）、随附的印刷材料及本“软件”任何副本的著作权，均由Amelie软件拥有。<br>
3.本“软件”及文档享有版权，并受国家版权法及国际协约条款的保护。<br>
4.您不可以从本“软件”中去掉其版权声明；并保证为本“软件”的复制品（全部或部分）复制版权声明。<br>
5.您同意制止以任何形式非法复制本“软件”及文档。<br>
6.您不可复制本“软件”随附的印刷材料。<br>
八．出口限制<br>
您同意不将本“软件”、其任何部分或任何属本“软件”的直接成果的任何程序或服务出口或转口给任何中国大陆外的任何国家或者地区。<br>
九．售后担保（仅适用于含光盘产品）：<br>
1.Amelie软件担保，在正常使用的情况下，自售出之日起九十天内，其软件载体无材料或工艺缺陷。经验证确有缺陷时，Amelie软件的全部责任仅限更换其软件载体作为对您的补偿。<br>
2.因事故、滥用或错误应用导致的载体缺陷，售后担保无效。<br>
3.除上述之外，本“软件”不享受任何其他形式的售后担保。<br>
十．不允诺担保<br>
本《协议》所述明示担保，为担保的全部内容。在适用法律所允许的最大范围内，Amelie软件及其供应商提供的本“软件”和支持服务（如有）均为按现状及包含所有瑕疵状况下提供，不允诺其它不论是明示的、暗示的还是法定的任何保证和担保：包括但不限于本“软件”对特殊应用目的适销性或适应性，反应的精确性，结果的完整性，不含病毒及疏忽，针对本“软件”提供或不提供支持服务。<br>
十一．责任有限：<br>
在适用法律所允许的最大范围内，Amelie软件或其供应商绝不就因使用或不能使用本“软件”所引起的或有关的任何间接的、意外的、直接的、特殊的、惩罚性的或其它任何损害（包括但不限于因人身伤害或财产损坏而造成的损害，因利润损失、数据损失、营业中断、计算机瘫痪或故障、商业信息的遗失而造成的损害，因未能履行包括诚信或相当注意在内的任何责任致使隐私泄露而造成的损害，因疏忽而造成的损害，或因任何金钱上的损失或任何其它损失而造成的损害）承担赔偿责任，即使Amelie软件或其任何供应商事先被告知该损害发生的可能性。即使补救措施未能达到预定目的，本损害赔偿排除条款将仍然有效。不论何种情况，Amelie软件及其供应商在本《协议》任何条款下所承担的全部责任，以及您可获得的赔偿（若由于违反售后担保，Amelie软件可按照本《协议》约定给您更换产品），以您购买本“软件”支付的款项为限。同时，Amelie软件对您或第三方提供的应用于或操作于本“软件”的内容或与该内容相关的其他内容而引起的任何索赔或损害不承担任何责任。<br>
十二．许可终止：<br>
1.如您未遵守本《协议》的各项条款和条件，Amelie软件可终止本《协议》。终止本《协议》时，您必须立即销毁本“软件”所有复制品，或者将其归还给Amelie软件。<br>
2.通过向您提供本“软件”的任何替换或修改版本或升级版本的一份取代《协议》，并规定您使用这类替换、修改或升级版本的条件是您接受这类取代《协议》，Amelie软件可以终止本《协议》。<br>
3.Amelie软件有权通过提前15个自然日在本“软件”官方网站公告的方式对本“软件”个人版政策予以修改，包括但不限于功能删减、使用时间设定、许可终止等。<br>
十三．适用、管辖法律：<br>
本《协议》的订立、执行和解释及争议的解决均应适用中国法律。
如您与Amelie软件就本《协议》内容或其执行发生任何争议，双方应进行友好协商；协商不成时，任何一方均可向Amelie软件所在地有管辖权的人民法院提起诉讼。<br>
十四．特别提示：<br>
为了不断提高本“软件”和服务的质量，我们将有可能搜集您对本“软件”进行使用的信息，并不定期地予以反馈。<br>
我们不会搜集您的姓名、地址、联系方式等个人信息以及文件内容等涉及信息安全的信息。<br>
以上搜集的信息仅仅为了市场分析需要，以便我们今后能够为您提供更好的功能和服务，Amelie软件对此数据严格保密。<br>
本条所指搜集信息的范围以Amelie软件适时的技术水平为判断标准。Amelie软件将尽最大努力力求判断的准确性，但因受到现实技术水平等的限制，Amelie软件仅依照自有的判断能力进行甄别收集。您已明确知悉上述内容，且认可Amelie软件的操作，愿意承担因此而可能造成的损失。<br>
至此，您肯定已经详细阅读并已理解本《协议》，并同意严格遵守各条款和条件。<br>
</div>

</div>

</body></html>